<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Locally stored data</h1>

    <span><%= @data %></span>
  </body>
</html>