<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Telephone</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.telephone %></td>
    <td><%= link_to 'Show', user %></td>
  </tr>
<% end %>
</table>
