<ul>
  <li><%= link_to 'Restaurants', restaurants_path %></li>

  <li><%= link_to 'Meals', meals_path %></li>

  <li><%= link_to 'Menu Items', menu_items_path %></li>

  <li><%= link_to 'Reservations', reservations_path %></li>
</ul>