<p id="notice"><%= notice %></p>

<p>
  <b>Time slot:</b>
  <%= @reservation.time_slot %>
</p>


<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Index', reservations_path %>
