body {
  background-image: url('bg.png');
  background-attachment: fixed;
  font-size: 16px;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  color: #444444;
}

header h1 {
  text-align: center;
}

header a {
  text-decoration: none;
}

nav.user {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 15px;
}

nav.user ul {
  list-style-type: none;
}

nav.user li {
  display: inline-block;
  padding: 0 20px;
}

.content {
  padding: 20px 0 0 50px;
}

a {
  color: #444444;
}